/* Styling of the pop-up login box*/
login-service{
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);;
}

login-service h3{
    margin-top: 5px;
    margin-bottom: 20px;
}

#loginform{
    visibility: hidden;
}

.error-message{
    color: tomato;
}

.custom-input{
    background: #e8ebed !important;
    border: 0;
    padding: 20px 20px !important;
}

body{
    overflow-x: hidden;
}

a, a:link, a:focus{
    color: #71818f !important;
}

a:hover{
    color: #398439 !important;
    text-decoration: none !important;
}

.btn{
    padding: 10px 30px !important;
    font-size: 18px !important;
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica", "";

}

.navbar-brand fa-diamond{
    color: 66FF33l !important;
}

.image-header{
    position: relative;
    background-image: url("../img/1cuttingpolish1300X900.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    margin-bottom: 0;
}
