/* Styling of the pop-up login box*/
login-service{
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  z-index: 99;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

login-service h3{
  margin-top: 5px;
  margin-bottom: 20px;
}

#loginform{
  visibility: hidden;
}

.login-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 98;
  visibility: hidden;
}

.error-message{
  color: tomato;
}

.custon-input:focus, .custom-input{
  outline: none;
  border: 2px solid #e8ebed !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}

.custom-input{
  background: #e8ebed !important;
  border: 0;
  padding: 20px 20px !important;
}

.custom-input:focus{
  background-color: white !important;
}

::-webkit-input-placeholder {
  color: #ff0000;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ff0000;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #ff0000;
}

:-ms-input-placeholder {
  color: #ff0000;
}

body{
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

a, a:link, a:focus{
  color: #71818f !important;
}

a:hover{
  color: #398439 !important;
  text-decoration: none !important;
}

.btn{
  padding: 10px 30px !important;
  font-size: 18px !important;
}
.btn-success{
    background: #3ac162;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}
.btn-success:hover{
    background: #34ad58;
}


.navbar-brand fa-diamond{
  color: 66FF33l !important;
}

.image-header{
  position: relative;
  background-image: url("../img/1cuttingpolish1300X900.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.signup-header{
  position: relative;
  background-image: url("../img/bg_diamond_trail.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.signup-box{
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.signup-box h4{

  margin-top: 5px;
  margin-bottom: 20px;
}

.signup-title{
  color: white;
  background-color: #3ac162;
  margin: -20px;
  margin-top: -25px;
  margin-bottom: 30px;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

.navbar{
  margin-bottom: 0;
}

.signup-navbar{
    border: 3px solid #5fcf80;;
    border-radius: 5px;
    color: #5fcf80 !important;
    padding: 12px 30px !important;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, opacity 200ms ease-in-out, border-color 200ms ease-in-out, padding 200ms ease-in-out;
}
.signup-navbar:hover{
    background: #5fcf80 !important;
    color: white !important;
}
.navbar-default{
  z-index: 50 !important;
  background: white !important;
  padding: 15px;

}
.navbar-default a{
    font-size: 16px;
    margin-left: 16px;
    font-weight: 500 !important;
}
.success-signup i, .success-signup{
    color: #3ac162;
    font-size: 140px;
    text-align: center;
}
