<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4>You have successfully logged in! </h4>
    <div class="col-md-3 diamond-box" ng-repeat="diamond in catalog">
      <br class="lotno-title"><h3>{{diamond.LotNo}}</h3></br>
      <img src="img/Satellite.png" class="catalog-img"/>
      <div ng-hide="diamond.Visible">
        <br>Shape: {{diamond.Shape}}</br>
        <br>Weight: {{diamond.Weight}}</br>
        <br>Color: {{diamond.Color}}</br>
        <br>Clarity: {{diamond.Clarity}}</br>
        <br>Measurements: {{diamond.Measurements}}</br>
        <br>Depth: {{diamond.Depth}}</br>
        <br>Table: {{diamond.Table}}</br>
        <br>Girdle: {{diamond.Girdle}}</br>
        <br>Culet: {{diamond.Culet}}</br>
        <br>Pol.: {{diamond.Pol}}</br>
        <br>Symm: {{diamond.Symm}}</br>
        <br>Fluor.: {{diamond.Fluor}}</br>
        <br>Cut: {{diamond.Cut}}</br>
        <br>Certificate: {{diamond.Certificate}}</br>
        <br>R-%: {{diamond.R}}</br>
        <br>price/Ct: {{diamond.price}}</br>
        <br></br>
      </div>
      <div class="btn btn-primary detail-box" ng-click="showdetails(diamond)">
        View more details
      </div>
      <div class="diamond-box-bottom">
        <div class="btn btn-default">
          Request Diamond
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <notification info="2"></notification> -->
