
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Login</h3>
        <form novalidate class="simple-form" ng-submit="loginButton(email, password)">
            <div class="form-group">
                <input type="email" class="form-control custom-input" placeholder="Email Address" ng-model="email"/>
            </div>
            <div class="form-group">
                <input type="password"  class="form-control custom-input" placeholder="Password" ng-model="password"/>
            </div>
            <div class="form-group error-message">
                {{errorMessage}}
            </div>
            <div class="pull-right text-right custom-link">
                <a href="#">Don't have an account? Register here.</a><br>
                <a href="#">I forgot my password</a>
            </div>
            <input type="submit" value="Signup" class="btn btn-success" />
        </form>
    </div>
</div>
